@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&family=Sacramento&display=swap');

/*font-family: 'Public sans'; font-size: 20px;} <-- Opm: bij wat hoort dit joeri???*/

/*------ Variabel section ------- */
:root {
	--main-color: #50adac;
}

/*------- Header section ------- */
nav {
  background: var(--main-color);
  height: 150px;
}

.logo {
  display: flex;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  padding: 20px;
}

.logo a::first-letter {
  border: 5px solid white;
  padding: 0 15px;
}

.nav_bar {
  display: flex;
  justify-content: flex-end;
}

.nav_bar li {
  list-style-type: none;
}

.nav_bar a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

main h1 {
  color: white;
  z-index: 999;
  position: absolute;
  margin-top: 150px;
  font-size: 150px;
  padding: 50px;
}

/*-------- body section --------*/
body {
  margin: 0;
  text-align:   center  ;
}
.container{max-width:   999px; margin:  auto;text-align:  center  ;}
/*align content----------------joeri*/






/*-------- Footer section --------*/
footer {
  background: var(--main-color);
  height: 200px;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
}

.footer_container h1 {
  color: white;
}

.footer_nav li, .footer_contact li {
  list-style-type: none;
  color: white;
}

.footer_nav a {
  text-decoration: none;
  color: white;

}

/*-------- jQuery section --------*/
#accordion div {
  background-color: #47C09A;
  color: beige;
}







/*-------- Joeri's old styling section --------*/
    /* h1 {
  font-family: 'Sacramento'; 
  color: gold; 
  font-size: 59px;
} 

h2 {
  font-family: 'Russo One'; 
  font-weight: lighter;
  color: #47C09A; 
  font-size: 30px;
}

.cf:after {
  content: "";
  clear: both;
  display: table;
}

.leftnav {
  float: left;
  vertical-align: middle;
}

.rightnav {
  float: right;
  vertical-align: middle;
}

.rightnav a {
  color: white;
  padding: 9px;
  border: 0.5px solid white;
  text-align: center;
  margin-right: 22px;
  vertical-align: middle;
}

.container {
  max-width: 990px;
  margin: auto;
}

body {
  margin: 0;
  padding-top: 69px;
  background-color: #fafffb;
  text-align: center;
}
  
.mainnav {
  background-color: #47C09A;
}

.headerimg {
  min-height:  333px;
  text-align:   center  ;} */

