@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&family=Sacramento&display=swap');


/*font-family: 'Public sans'; font-size: 20px;} <-- Opm: bij wat hoort dit joeri???*/

/*------ Variabel section ------- */
:root {
	--main-color: #50adac;
}

/*------- Header section ------- */
header {
  background: var(--main-color);
}

.navbar {
  width: 100%;
  color: white;
  height: 100px;
}

.navbar .nav_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav ul {
  display: flex;
  margin-right: 10px;
}
nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}


/*-------- body section --------*/
body {
  margin: 0;
}
.container{max-width:   999px; margin:  auto;text-align:  center  ;}
/*align content----------------joeri*/






/*-------- Footer section --------*/
footer {
  background: var(--main-color);
}

.footer_container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.container_rows {
  display: flex;
  flex-wrap: wrap;
}

.container_columns {
  width: 30%;
  padding: 0 15px;

}

.container_columns h1 {
  color: white;
  margin-bottom: 20px;
  margin-left: 37px;

}

.container_columns li {
  padding: 5px 0
}

.container_columns a {
  text-decoration: none;
  color: white;
}

.container_columns i {
  font-size: 20px;
  padding-right: 10px;
}

.social_links {
  margin-left: 40px;
}

ul {
  list-style-type: none;
}








/*-------- Joeri's old styling section --------*/
    /* h1 {
  font-family: 'Sacramento'; 
  color: gold; 
  font-size: 59px;
} 

h2 {
  font-family: 'Russo One'; 
  font-weight: lighter;
  color: #47C09A; 
  font-size: 30px;
}

.cf:after {
  content: "";
  clear: both;
  display: table;
}

.leftnav {
  float: left;
  vertical-align: middle;
}

.rightnav {
  float: right;
  vertical-align: middle;
}

.rightnav a {
  color: white;
  padding: 9px;
  border: 0.5px solid white;
  text-align: center;
  margin-right: 22px;
  vertical-align: middle;
}

.container {
  max-width: 990px;
  margin: auto;
}

body {
  margin: 0;
  padding-top: 69px;
  background-color: #fafffb;
  text-align: center;
}
  
.mainnav {
  background-color: #47C09A;
}

.headerimg {
  min-height:  333px;
  text-align:   center  ;} */

