@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&family=Sacramento&display=swap');


/*font-family: 'Public sans'; font-size: 20px;} <-- Opm: bij wat hoort dit joeri???*/

/*------ Variabel section ------- */
:root {
	--main-color: #50adac;
}

/*------- Header section ------- */
header {
  background: var(--main-color);
}

.header_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cvo1.jpeg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header_text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.header_text button:hover {
  background-color: #555;
  color: white;
}


.navbar {
  width: 100%;
  color: white;
  height: 100px;
}

.navbar .nav_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav ul {
  display: flex;
  margin-right: 10px;
}
nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}


/*-------- body section --------*/
body, html {
  margin: 0;
  height: 100%;
}
.container{max-width:   999px; margin:  auto;text-align:  center  ;}
/*align content----------------joeri*/


/*-------- Contact form section --------*/
.inschrijfform {
  width: 800px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  font-family: 'Russo One', sans-serif;
}

.inschrijf-titel h2 {
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
}

.inputs input {
  width: 500px;
  padding: 10px;
  margin-bottom: 15px;
}

.error {
  color: red;
  display: block;
}

.opleiding p {
  width: 525px;
  text-align: center;
  background-color: gray;
  padding: 15px 0;
  font-size: 20px;
  color: white;
  margin-top: -1px;
}

.verzenden-button {
  display: grid;
  justify-content: center;
}

.verzenden-button input {
  color: white;
  border: none;
  background-color: #696969;
  padding: 7px 25px;
  margin-bottom: 189px;
}

.verzenden-button input:focus {
  background-color: #303030;
}

/*-------- Footer section --------*/
footer {
  background: var(--main-color);
  font-family:  'Public Sans';
  font-size: 17px;
}

.footer_container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.container_rows {
  display: flex;
  flex-wrap: wrap;
}

.container_columns {
  width: 30%;
  padding: 0 15px;

}

.container_columns h1 {
  color: white;
  margin-bottom: 20px;
  margin-left: 37px;
  font-family:  'Russo One';
  font-size:  20px;

}

.container_columns li {
  padding: 5px 0
}

.container_columns a {
  text-decoration: none;
  color: white;
}

.container_columns i {
  font-size: 20px;
  padding-right: 10px;
}

.social_links {
  margin-left: 40px;
}

ul {
  list-style-type: none;
}

.cf{}
.cf:after
{
  content: "";
    clear: both;
    display: table;
}

.docentleft{float: left};
.docentright{float: right;}
#butt1{margin-top:  55px;
margin-left:  -55px;
margin-bottom: 33px;}
#fadeinfo{padding-left:   300px;}






/*-------- Joeri's old styling section --------*/
    /* h1 {
  font-family: 'Sacramento'; 
  color: gold; 
  font-size: 59px;
} 

h2 {
  font-family: 'Russo One'; 
  font-weight: lighter;
  color: #47C09A; 
  font-size: 30px;
}

.cf:after {
  content: "";
  clear: both;
  display: table;
}

.leftnav {
  float: left;
  vertical-align: middle;
}

.rightnav {
  float: right;
  vertical-align: middle;
}

.rightnav a {
  color: white;
  padding: 9px;
  border: 0.5px solid white;
  text-align: center;
  margin-right: 22px;
  vertical-align: middle;
}

.container {
  max-width: 990px;
  margin: auto;
}

body {
  margin: 0;
  padding-top: 69px;
  background-color: #fafffb;
  text-align: center;
}
  
.mainnav {
  background-color: #47C09A;
}

.headerimg {
  min-height:  333px;
  text-align:   center  ;} */

