.layout {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.3fr 1.9fr 0.6fr 0.6fr 0.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
}
.cf:after
{
  content: "";
    clear: both;
    display: table;
}
.leftnav{float: left;}
.rightnav{float: right;
vertical-align:   middle  ;}
.rightnav a{color: white;
  padding: 9px;
  border: 0.5px solid white;
  text-align:   center  ;
  margin-right:   22px;
vertical-align:   middle  ;}
.container{max-width: 777px;
margin: auto;}
body {margin: 0;
padding-top: 69px;}
.mainnav {background-color:  #47C09A;}
